* {
    margin: 0;
    padding: 0;
	font-family: 'Baloo Paaji 2';
    box-sizing: border-box;
}

#header {
    height: 100vh;
    background-image: url(imagesRevisi/backgroundFULL.png);
    background-position: center;
    background-size: cover;
}

/*----- Navbar -----*/
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.logo {
    margin-top: 5px;
    margin-right: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo-img {
    width: 50px;
}
.logo h2 {
    padding-left: 20px;
}

li, button, .nav__links a {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: white;
    text-decoration: none;
}
.nav__links {
    list-style: none;
    display: flex;
}
.nav__links li{
    display: inline-block;
    padding: 0px 30px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: rgba(0, 44, 255, 1);
}
.cta  {
    padding: 9px 25px;
    outline: none;
    background-image: linear-gradient(114.21deg, #0094FF 37.61%, #002CFF 133.4%);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header-text {
    max-width: 576px;
    margin-top: 100px;
}
.header-text .header-tittle {
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
}
.header-text h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
}
.header-text p {
    font-size: 18px;
    line-height: 27px;
    color: #848484;
}

.header-button .button2 {
    border: 2px solid #629BFF;
    transition: all .2s;
}
.header-button .button2:hover {
    background-color: #fff;
    color: #629BFF;
}

.header-button button {
    padding: 10px 50px;
    outline: none;
    cursor: pointer;
    background: #629BFF;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.button2 {
    margin: 0 10px;
}
.button1 {
    background: transparent;
    color: #6293FF;
    border: 3px solid #629BFF;
}
/*----- Header Contact -----*/
.header-contact {
    margin-top: 45px;
    margin-right: 1400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}


/*----- About -----*/
#about {
    padding: 200px 0;
}
/*----- Left Col -----*/
.about-left-col {
    flex-basis: 60%;
}
.about-card {
    display: flex;
    justify-content: space-between;
}
.card {
    width: 100%;
}
.card1 h3{
    font-size: 24px;
    font-weight: 500;
}
.card p {
    font-size: 15px;
    color: #848484;
}
.card {
    margin-top: 30px;
    box-shadow: 2px 6px 15px rgba(100, 100, 100, 0.2);
    border-radius: 10px;
    padding: 60px 45px ;
}
.card2 h3{
    font-size: 24px;
    font-weight: 500;
}

.card2 {
    margin-top: 200px;
}
/*----- Right Col -----*/
.about-right-col {
    flex-basis: 39%;
}
.about-text {
    max-width: 483px;
    margin-left: auto; /*because using flexbox*/
}
.about-text h3,.about-text h2,.about-text p {
    direction: ltr;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}
.about-text h2 {
    font-weight: 500;
    font-size: 48px;
}
.about-text p {
    font-size: 16px;
    font-weight: normal;
    color: #7A7A7A;
}

/*----- accesories -----*/
.acs1 {
    margin-left: 533px;
    margin-bottom: -83px;
}

.acs2 {
    margin-left: 119.49px;
    margin-top: -150px;
}


/* -----Masterpiece Card----- */
#masterpiece {
    position: relative;
}
.arrow {
    position: absolute;
    top: 30%;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.portofolio-img {
    width: 100%;
}
.arrow img {
    width: 30px;
}
.masterpiece-card-left-col h2 {
    font-size: 48px;
    font-weight: 500;
}
.masterpiece-card-left-col p {
    font-size: 18px;
    font-weight: normal;
}
.masterpiece-card-left-col .left-text {
    margin-top: 15px;
    color: #555;
    font-size: 15px;
}

.masterpiece-card-right-col {
    grid-column: 3/4;
}

.btn.btn-outline-blue:hover{
    background-color: #629BFF;;
    color: #fff;
}

.btn.btn-outline-blue{
    background: transparent;
    color: #6293FF;
    border: 2px solid #629BFF;
    padding: 10px 50px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 41px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    transition: all .2s;
}

.arrow-right-col {
    transform: rotate(-180deg);
}

/* Circle Slider */
.circle-slider {
    margin-top: 40px;
    margin-left: 900px;
    margin-right: 900px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

/*------------- Contact -------------*/
#contact {
    padding: 96px 0;
    margin-right: 100px;
    margin-left: 100px;
}
#contact h1 {
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}
#contact .subTittle {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}
.divider {
    width: 90px;
    height:3px;
    margin: 0 auto;
    background-color: #799AFF;
}
/* Contact Card */
.contact-row {
    margin-top: 107px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.contact-col {
    margin-top: 30px;
    /* box-shadow: 5px 5px 20px rgba(50, 50, 50, 0.25); */
    /* border-radius: 10px; */
    background-color: #ffffff;
    text-align: center;
    padding: 30px
}
.contact-col img {
    margin-top: 31px;
}
.contact-col .cnt-tittle {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}
.contact-col p{
    font-size: 18px;
    font-weight: normal;
}
.contact-col .contact-sub {
    color: #666;
    font-size: 14px;
}
/* .contact-col button {
    margin-top: 20px;
    padding: 3px 34px;
    background-color: #FFD880;
    border-radius: 3px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
} */

/* ----- Footer ----- */
#footer {
    margin-top: 129px;
}
.footer-shape {
    border-top: 1px solid #ccc;
}
.footer-shape p {
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
    color: #655;
}

/*----------- Responsive Website -----------*/
@media screen and (max-width: 768px) {
    #header {
        background: none;
    }
    .card2 {
        margin-top: 30px
    }
    #nav ul {
        display:none
    }
    #nav ul li a {
        color: #444;
    }
    .btn-outline-blue.btn-hamburger {
        padding: 10px 20px !important;
        margin-top: 0;
    }
}